body {
	padding-top: 10em;
}
.navbar-brand {
  padding: 0;
}
.navbar-form {
  padding-top: 1em;
}
.navbar-header h1 {
  font-size: 4em;
}
.form-control {
  display: inline;
  margin-top: 1.5em;
  margin-left: 2em;
  width: 18%;
}
.messages{
  display: inline-block;
  border: 1px solid grey;
  padding: 1em;
  width: 100%;
  margin: 1em;
}
.messages p:first-child {
  font-size: 2em;
}
.hidden {
	display: none;
}
.largetheme {
    font-size: 200%;
}

.darktheme {
  background-color: darkgrey;
  color: white;
}

.radio-theme {
  display: inline-block;
  list-style-type: none;
}

.blue-green {
  background-color: blue;
  color: green;
}

.red-pink {
  background-color: red;
  color: pink;
}

.green-yellow {
  background-color: green;
  color: yellow;
}

.yellow-blue {
  background-color: yellow;
  color: blue;
}